@import "tailwindcss";

@font-face{
    font-family: Orbitron;
    font-weight: 400;
    font-style: normal;
    src: url('/src/assets/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

body{
  font-family: 'Orbitron', sans-serif;
}

html {
  /* Move the black background to the HTML tag, the very bottom layer */
  background-color: #000; 
}

body {
  /* Make the body transparent so we can see through it to the canvas */
  background-color: transparent !important;
  margin: 0;
  padding: 0;
}

#root {
  /* Ensure the React entry point is also transparent */
  background-color: transparent;
}



#root {
  background: transparent;
}


